<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Select Type</title>
<!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center">Select Type</h1>
    <div class="row justify-content-center mt-3">
        <div class="col-6 col-md-4">
            <button class="btn btn-block btn-success" routerLink="/login">Supplier</button>
        </div>
        <div class="col-6 col-md-4">
            <button class="btn btn-block btn-primary" routerLink="/factory-login">Factory</button>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
